<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ site.baseurl }}/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ site.baseurl }}/css/blog.css" rel="stylesheet">
  <!--link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css"-->

<body>
  <div class="blog-top"></div>
  <div class="container">
      <img src="{{ site.baseurl }}/images/profile-background.jpg" height="auto" width="100%">
      <div class="blog-header">
        <h1 class="blog-title"><a href="{{ site.baseurl }}/index.html">{{ site.tag_text }}</a></h1>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <p class="blog-post-meta">January 13, 2017 by 
              <a href="https://github.com/dischargedpremise" target="_blank">Devi Prasad</a>
            </p>
                {{ content }}
          </div><!--blog-post-->
        </div><!--col-sm-8 blog-main-->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>My name is Devi Prasad. I am a faculty in the School of Information Sciences, Manipal University, India. I write about programming, software engineering, formal methods and their application to software verification.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
              <ol class="list-unstyled">
                <li>January 2017</li>
                  <ul class="list-unstyled list-simple-padded-2rem">
                    <li>&#9658; <a href="{{ site.baseurl }}/hello-world.html">Hello, World!</a></li>
                    <li>&#9658; <a href="{{ site.baseurl }}/verification-getting-started-dafny.html">Program Verification with Dafny - Getting Started</a></li>
                  </ul>
              </ol>
          </div>
        </div><!-- /.blog-sidebar -->  
      </div> <!--row-->
    </div>
  
  <footer class="blog-footer">
    <p><a href="#">Back to top</a></p>
  </footer>

  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ site.baseurl }}/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
